body {
   margin: 0;
   padding: 0;
   background: #af3290;
   height: 100vh;
}

.header {
   background: #af3290;
   color: #14447e;
   text-align: center;
   padding: 1em 0;
}

.header h1 {
   margin: 0;
}

.main-content {
   padding: 2em;
   color: #14447e;
}

.description-link, .partnerships-link, .girl-team-link {
   color: #14447e;
   text-decoration: none;
   font-size: 0.8em;
   margin-left: 1em;
}

.description-content, .partnerships-content, .girl-team-content, .member-content {
   display: none;
   background: #14447e;
   color: #14447e;
   padding: 1em;
   margin-top: 1em;
}

#background-video {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   object-fit: cover;
}