@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('http://fonts.cdnfonts.com/css/cocogoose');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; 
    padding: 0%;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    text-decoration: none;
    line-height: 1.7;
}

.container {
    width: 90%;
    margin: 0 auto;
}

section{
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {font-size: 2.4rem;}

h2 {font-size: 2rem;}

h3 {font-size: 1.6rem;}

h4 {font-size: 1.3rem;}

h5 {font-size: 1rem;}

a {
    color: #3b53d9;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: #3b53d9;
    color: #fff;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: all 400ms ease;
    border-radius: 1.8rem;

}

.btn:hover {
    background: transparent;
    color: #202525;
    border-color: #202525;
}

.btn-primary {
    background: #202525;
    color: #fff;
    border-radius: 1.8rem;
    border-width: 2px;
}

/************************************************************ NAVBAR ************************************************************/

nav{
    color: white;

    width: 100vw;
    height: 6rem;
    position: fixed;
    top: 0;
    z-index: 11;
    transition: all 400ms ease-in;
}

/* change navbar style on scroll */

.window-scroll-nav {
    box-shadow: 0 0.1rem 3rem rgba(0, 0, 0, 0.3);
    background: #3b53d9;

}



.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

nav a {
    color: #fff;
    font-weight: 600;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav img {
    width: 30%;
    padding-top: 1rem;
}

.nav__menu a {
    font-size: 1rem;
    transition: all 300ms ease;
}

.nav__menu a:hover {
    color: #44cab2;
}

/**************************************************************** FOOTER *************************************************************/
.about__sciovirtual {
    background: #3b53d9;

    color: #fff;
}

.sciovirtual-aboutpage-container {
    margin-top: 1rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding-right: 7rem;
}

.about__sciovirtual-right > p {
    margin: 1.6rem 0 2rem;
}

.sciovirtual__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

.achievement-card {
    background: #1ae9de;
    padding: 1rem;
    border-radius: 1.3rem;
    text-align: center;
    color: #202525;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.4);
    transition: all 200ms ease;
}

.achievement-card i{
    color: #fff;
}

.achievement-card p{
font-size: 1rem;
}

.achievement-card:hover {
    background: #3bfff5;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.8);
}

.about__sciovirtual-left img{
    width: 65%;
    border-radius: 3rem;
    transition: all 400ms ease;
}

.about__sciovirtual-left img:hover{
    width: 67%;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.8);
    border-radius: 3rem;
}

.about__sciovirtual-left{
    align-items: center;
    display: flex;
    justify-content: center;
}

.achievement-icon {
    background: #202525;
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 2rem;
}

/**************************************************************** INSTRUCTORS *************************************************************/

.instructors{
    background: #202525;
    color: white;
    box-shadow:inset 0 0 5rem rgba(0, 0, 0, 0.8);
}

.instructors__section {
    width: 85%;
    text-align: center;
}

.instructer-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 2rem;

}

.instructors__section h2 {
    margin-bottom: 1rem;
}

.instructor {
    background: #323a3a;
    padding: 1.5rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    transition: all 400ms ease;
    position: relative;
    overflow: hidden;
}

.instructer-img img {
    border-radius: 1rem;
    filter: saturate(0);
}

.instructer-img img:hover {
    border-radius: 1rem;
}

.instructor:hover {
    background: transparent;
    border-color: #fc9a84;
}

.instructor:hover img{
    filter: saturate(1);
}

.instructor-info * {
    text-align: center;
    margin-top: 1.4rem;
}

.instructor-a h4,p:hover {
    color: #44cab2;
}

.instructer-socials {
    position: absolute;
    top: 50%;
    right: -100%;
    display: flex;
    flex-direction: column;
    background-color: #fc9a84;
    border-radius: 1rem 0 0 1rem;
    transform: translateY(-10%);
    transition: all 400ms ease-in-out;
    box-shadow: -0.5rem 0 1rem rgba(255, 145, 95, 0.3);
}

.instructer-socials i {
    color: #202525;
    font-size: 1.2rem;
}

.instructer-socials a {
padding: 0.5rem;
}

.instructor:hover .instructer-socials {
    right: 0%;
}



/**************************************************************** FOOTER *************************************************************/

footer{
    background: #202525;
    padding-top: 5rem;
    color: white;
    padding-bottom: 1rem,;
}

footer p, a, i{
    color: white   ;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    width: 90%;
}

footer img {
    width: 60%;
}

.footer__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.footer__container > div h4, img {
    margin-bottom: 1.2rem;
}

.socials{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.footer__copyright {
    padding-bottom: 1.4rem;
    text-align: center;
    padding-top: 1rem;
    border-top: 1px solid #323a3a;
    margin-top: 1rem;
}

footer a:hover{
    color: #44cab2;
}

footer i:hover{
    color: #44cab2;
}

/**************************************************************** MEDIA QUERIES ************************************************************** ***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

@media screen and (max-width: 1024px) {
    .container {
        width: 90%;
    }

    h1 {
        font-size: 1.7rem;
    }

    h2{
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4{
        font-size: 1rem;
    }

    /**NavBar***/

    nav button{
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: white;
        cursor: pointer;
    }

    nav button#close-menu-btn {
        display: none;
        align-self: flex-start;
    }

    @keyframes animateNavBar {
        from{
            transform: translateX(260%);
        }
        to{
            transform: translateX(0%);
        }
    }

    @keyframes animateNavBarClose {
        from{
            transform: translateX(260%);
        }
        to{
            transform: translateX(0%);
        }
    }

    .nav__menu {
        position: fixed;
        top: 0%;
        right: 0%;
        height: 100%;
        width: 40%;
        flex-direction: column;
        background: #3b53d9;
        box-shadow: 0vw 0 15rem rgba(0, 0, 0, 0.6);
        padding-right: 10%;
        padding-left: 5%;
        padding-top: 5%;
        display: none;
        animation: animateNavBar 1s ease;
    }

    .nav__menu li {
        width: 100%;
        align-items: center;
        height: fit-content;
        text-align: left;
    }

    .nav__menu li a {
        font-size: 3vw;
    }


/**************************************************************** ACHIEVEMENTS *************************************************************/

.about__sciovirtual {
    margin-top: 3vw;
    color: #fff;
    text-align: left;

}

.sciovirtual-aboutpage-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6vw;
    width: 90%;
    text-align: left;
    padding-left: 0%;
    padding-right: 0%;
    margin-bottom: 0%;

}

.about__sciovirtual-right > p {
    font-size: 2vw;
    color: white;
}

.about__sciovirtual-right > h1 {
    font-size: 5vw;
    color: white;
}

.sciovirtual__cards {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    gap: 3vw;

}

.achievement-card {
    background: #1ae9de;
    padding: 3vw;
    border-radius: 1.3rem;
    text-align: center;
    color: #202525;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.4);
    transition: all 200ms ease;
}

.achievement-card i{
    color: #fff;
}

.achievement-card p{
font-size: 2vw;
}

.achievement-card h3{
    font-size: 4vw;
    }

.achievement-card:hover {
    background: #3bfff5;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.8);
}

.about__sciovirtual-left img{
    width: 65%;
    border-radius: 3rem;
    transition: all 400ms ease;
}

.about__sciovirtual-left img:hover{
    width: 67%;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.8);
    border-radius: 3rem;
}

.about__sciovirtual-left{
    align-items: center;
    display: flex;
    justify-content: center;
}

.achievement-icon {
    background: #202525;
    padding: 1.5vw;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 5vw;
}

/**************************************************************** INSTRUCTORS *************************************************************/

.instructors{
    background: #202525;
    color: white;
    box-shadow:inset 0 0 5rem rgba(0, 0, 0, 0.8);
}

.instructors__section {
    width: 90%;
    text-align: center;
}

.instructer-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 5vw;

}

.instructors__section h2 {
    margin-bottom: 2vw;
    font-size: 5vw;
    margin-top: 0vw;
}

.instructors__section h4 {
    font-size: 4vw;
}

.instructors__section p {
    font-size: 3vw;
    color: white;
}

.instructor {
    background: #323a3a;
    padding: 1.5rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    transition: all 400ms ease;
    position: relative;
    overflow: hidden;
}

.instructer-img img {
    border-radius: 1rem;
    filter: saturate(0);
}

.instructer-img img:hover {
    border-radius: 1rem;
}

.instructor:hover {
    background: transparent;
    border-color: #fc9a84;
}

.instructor:hover img{
    filter: saturate(1);
}

.instructor-info * {
    text-align: center;
    margin-top: 1.4rem;
}

.instructer-socials {
    position: absolute;
    top: 50%;
    right: -100%;
    display: flex;
    flex-direction: column;
    background-color: #fc9a84;
    border-radius: 1rem 0 0 1rem;
    transform: translateY(-10%);
    transition: all 400ms ease-in-out;
    box-shadow: -0.5rem 0 1rem rgba(255, 145, 95, 0.3);
}

.instructer-socials i {
    color: #202525;
    font-size: 4vw;
}

.instructer-socials a {
padding: 0.5rem;
}

.instructor:hover .instructer-socials {
    right: 0%;
}
}


/***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/


@media screen and (max-width: 800px) {
    .container {
        width: 92%;
        text-align: center;
    }

    h1 {
        font-size: 1.7rem;
    }

    h2{
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4{
        font-size: 1rem;
    }



    /**NavBar***/

    nav button{
        display: inline-block;
        background: transparent;
        font-size: 7vw;
        color: white;
        cursor: pointer;
    }

    nav button#close-menu-btn {
        display: none;
        font-size: 7vw;
        align-self: flex-start;
    }

    nav img {
        width: 40%;
        padding-top: 1rem;
    }

    @keyframes animateNavBar {
        from{
            transform: translateX(260%);
        }
        to{
            transform: translateX(0%);
        }
    }

    @keyframes animateNavBarClose {
        from{
            transform: translateX(260%);
        }
        to{
            transform: translateX(0%);
        }
    }

    .nav__menu {
        position: fixed;
        top: 0%;
        right: 0%;
        height: 100%;
        width: 40%;
        flex-direction: column;
        background: #3b53d9;
        box-shadow: 0vw 0 15rem rgba(0, 0, 0, 0.6);
        padding-right: 10%;
        padding-left: 5%;
        padding-top: 5%;
        display: none;
        animation: animateNavBar 1s ease;
    }

    .nav__menu li {
        width: 100%;
        align-items: center;
        height: fit-content;
        text-align: left;
    }

    .nav__menu li a {
        font-size: 5.3vw;
    }


/**************************************************************** ACHIEVEMENTS *************************************************************/

.about__sciovirtual {
    margin-top: 3vw;
    background: #3b53d9;
    color: #fff;
    text-align: left;

}

.sciovirtual-aboutpage-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6vw;
    width: 90%;
    text-align: left;
    padding-left: 0%;
    padding-right: 0%;
}

.about__sciovirtual-right > p {
    font-size: 4vw;
    color: white;
}

.sciovirtual__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vw;

}

.achievement-card {
    background: #1ae9de;
    padding: 6.7vw;
    border-radius: 1.3rem;
    text-align: center;
    color: #202525;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.4);
    transition: all 200ms ease;
}

.achievement-card i{
    color: #fff;
}

.achievement-card p{
font-size: 1rem;
}

.achievement-card:hover {
    background: #3bfff5;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.8);
}

.about__sciovirtual-left img{
    width: 65%;
    border-radius: 3rem;
    transition: all 400ms ease;
}

.about__sciovirtual-left img:hover{
    width: 67%;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.8);
    border-radius: 3rem;
}

.about__sciovirtual-left{
    align-items: center;
    display: flex;
    justify-content: center;
}

.achievement-icon {
    background: #202525;
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 2rem;
}

/**************************************************************** INSTRUCTORS *************************************************************/

.instructors{
    background: #202525;
    color: white;
    box-shadow:inset 0 0 5rem rgba(0, 0, 0, 0.8);
}

.instructors__section {
    width: 90%;
    text-align: center;
}

.instructer-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 5vw;

}

.instructors__section h2 {
    margin-bottom: 5vw;
    font-size: 8vw;
    margin-top: -10vw;
}

.instructors__section h4 {
    font-size: 6vw;
}

.instructors__section p {
    font-size: 5vw;
    color: white;
}

.instructor {
    background: #323a3a;
    padding: 1.5rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    transition: all 400ms ease;
    position: relative;
    overflow: hidden;
}

.instructer-img img {
    border-radius: 1rem;
    filter: saturate(0);
}

.instructer-img img:hover {
    border-radius: 1rem;
}

.instructor:hover {
    background: transparent;
    border-color: #fc9a84;
}

.instructor:hover img{
    filter: saturate(1);
}

.instructor-info * {
    text-align: center;
    margin-top: 1.4rem;
}

.instructer-socials {
    position: absolute;
    top: 50%;
    right: -100%;
    display: flex;
    flex-direction: column;
    background-color: #fc9a84;
    border-radius: 1rem 0 0 1rem;
    transform: translateY(-10%);
    transition: all 400ms ease-in-out;
    box-shadow: -0.5rem 0 1rem rgba(255, 145, 95, 0.3);
}

.instructer-socials i {
    color: #202525;
    font-size: 6vw;
}

.instructer-socials a {
padding: 0.5rem;
}

.instructor:hover .instructer-socials {
    right: 0%;
}
/**************************************************************** FOOTER *************************************************************/

footer{
    background: #202525;
    padding-top: 6vw;
    color: white;
    padding-bottom: 6vw,;
}

footer p, a, i{
    color: white   ;
}

.footer__container {
    display: flex;
    flex-direction: column-reverse;
    gap: 6vw;
    width: 90%;
    justify-content: center;
    align-items: center;
}

footer img {
    justify-content: center;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5vw;
}

.footer__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7vw;
}

.footer__container > div h4, img {
    margin-bottom: 2.2vw;
}

.socials{
    display: flex;
    gap: 4vw;
    margin-top: 4.6vw;
}

.footer__copyright {
    padding-bottom: 2.8vw;
    text-align: center;
    padding-top: 2.8vw;
    border-top: 1px solid #323a3a;
    margin-top: 2.8vw;
}

footer a:hover{
    color: #44cab2;
}

footer i:hover{
    color: #44cab2;
}

.footer1 p {
    font-size: 3vw;
}

.footer2 a {
    font-size: 4.5vw;
}


.footer2 h4 {
    font-size: 5vw;
}

.footer3 p {
    font-size: 4.5vw;
}

.footer3 a {
    font-size: 6vw;
}


.footer3 h4 {
    font-size: 5vw;
}
}